.active_mutator/
spec/fixtures/*/Gemfile.lock
spec/fixtures/*/.active_mutator/
spec/fixtures/rails_app/log/*.log
spec/fixtures/rails_app/tmp/
spec/fixtures/rails_app/storage/*.sqlite3
spec/fixtures/rails_app/storage/*.sqlite3-*
Gemfile.lock
*.gem
